[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = {{ .name }}
	email = {{ .email }}
[commit]
	gpgsign = true
[core]
	editor = code --wait
[init]
	defaultBranch = main
